# Challenge Set 9
## Part III: Soccer Data

*Introductory - Intermediate level SQL*

--

Please complete this exercise using sqlite3 and Jupyter notebook.

Download the [SQLite database](https://www.kaggle.com/hugomathien/soccer/downloads/soccer.zip) and load in your notebook using the sqlite3 library. 

1. Which team scored the most points when playing at home?  

2. Did this team also score the most points when playing away?  

3. How many matches resulted in a tie?  

4. How many players have Smith for their last name? How many have 'smith' anywhere in their name?

5. What was the median tie score? Use the value determined in the previous question for the number of tie games. *Hint:* PostgreSQL does not have a median function. Instead, think about the steps required to calculate a median and use the [`WITH`](https://www.postgresql.org/docs/8.4/static/queries-with.html) command to store stepwise results as a table and then operate on these results. 

6. What percentage of players prefer their left or right foot? *Hint:* Calculate either the right or left foot, whichever is easier based on how you setup the problem.

In [7]:
import sqlite3
import pandas as pd

In [8]:
conn=sqlite3.connect('database.sqlite')
c=conn.cursor()
sql_command='''SELECT name FROM sqlite_master WHERE type='table';'''
c.execute(sql_command)
result=c.fetchall()
print(result)

[('sqlite_sequence',), ('Player_Attributes',), ('Player',), ('Match',), ('League',), ('Country',), ('Team',), ('Team_Attributes',)]

1. Which team scored the most points when playing at home?

In [24]:
sql_query_1 = '''
SELECT 
    t.team_long_name,
    SUM(m.home_team_goal) AS total_home_goals
FROM 
        Match AS m
    JOIN
        Team AS t
    ON 
        m.home_team_api_id = t.team_api_id
GROUP BY 
    home_team_api_id
ORDER BY 
    total_home_goals DESC;
'''

In [25]:
pd.read_sql_query(sql_query_1, conn)

                   team_long_name  total_home_goals
0                  Real Madrid CF               505
1                    FC Barcelona               495
2                          Celtic               389
3                FC Bayern Munich               382
4                             PSV               370
5                 Manchester City               365
6                            Ajax               360
7                        FC Basel               344
8               Manchester United               338
9                         Chelsea               333
10            Paris Saint-Germain               332
11                     SL Benfica               321
12                Atl√©tico Madrid               321
13                 BSC Young Boys               319
14                       Juventus               307
15                        Arsenal               306
16                         Napoli               303
17                           Roma               299
18                    Valencia CF               299
19              Borussia Dortmund               298
20                       FC Porto               295
21                      Liverpool               294
22                      Feyenoord               291
23                      FC Twente               289
24             Olympique Lyonnais               289
25                     Sevilla FC               285
26                          Inter               280
27                             AZ               279
28                  VfL Wolfsburg               274
29                          Milan               271
..                            ...               ...
269               SC Paderborn 07                21
270  Termalica Bruk-Bet Nieciecza                21
271                    Angers SCO                20
272                  Cardiff City                20
273                       Watford                20
274          Xerez Club Deportivo                20
275      US Boulogne Cote D'Opale                19
276                        Novara                19
277              Uniao da Madeira                19
278            FC Energie Cottbus                19
279                 Karlsruher SC                18
280                  Portimonense                18
281        Eintracht Braunschweig                18
282                     Frosinone                18
283                   FC Penafiel                17
284                 RC Recreativo                17
285                 Middlesbrough                17
286                   Le Havre AC                17
287         DSC Arminia Bielefeld                16
288                       Amadora                16
289                     KAS Eupen                15
290                  FC Dordrecht                15
291               SV Darmstadt 98                15
292                       Pescara                15
293                       Tondela                15
294                      Trofense                14
295              AC Arles-Avignon                14
296                      Feirense                13
297                    C√≥rdoba CF                12
298          SpVgg Greuther F√ºrth                10

[299 rows x 2 columns]

In [23]:
sql_query_team = '''SELECT * 
FROM Team'''
pd.read_sql_query(sql_query_team, conn)

,id,team_api_id,team_fifa_api_id,team_long_name,team_short_name
0,1,9987,673.0,KRC Genk,GEN
1,2,9993,675.0,Beerschot AC,BAC
2,3,10000,15005.0,SV Zulte-Waregem,ZUL
3,4,9994,2007.0,Sporting Lokeren,LOK
4,5,9984,1750.0,KSV Cercle Brugge,CEB
5,6,8635,229.0,RSC Anderlecht,AND
6,7,9991,674.0,KAA Gent,GEN
7,8,9998,1747.0,RAEC Mons,MON
8,9,7947,NaN,FCV Dender EH,DEN
9,10,9985,232.0,Standard de Li√®ge,STL
10,11,8203,110724.0,KV Mechelen,MEC
11,12,8342,231.0,Club Brugge KV,CLB
12,13,9999,546.0,KSV Roeselare,ROS
13,14,8571,100081.0,KV Kortrijk,KOR
14,15,4049,NaN,Tubize,TUB
15,16,9996,111560.0,Royal Excel Mouscron,MOU
16,17,10001,681.0,KVC Westerlo,WES
17,18,9986,670.0,Sporting Charleroi,CHA
18,614,9997,680.0,Sint-Truidense VV,STT
19,1034,9989,239.0,Lierse SK,LIE
20,1042,6351,2013.0,KAS Eupen,EUP
21,1513,1773,100087.0,Oud-Heverlee Leuven,O-H
22,2004,8475,110913.0,Waasland-Beveren,WAA
23,2476,8573,682.0,KV Oostende,OOS
24,2510,274581,111560.0,Royal Excel Mouscron,MOP
25,3457,10260,11.0,Manchester United,MUN
26,3458,10261,13.0,Newcastle United,NEW
27,3459,9825,1.0,Arsenal,ARS
28,3460,8659,109.0,West Bromwich Albion,WBA
29,3461,8472,106.0,Sunderland,SUN
...,...,...,...,...,...
269,43053,9906,240.0,Atl√©tico Madrid,AMA
270,43054,9864,573.0,M√°laga CF,MAL
271,43800,9868,1742.0,Xerez Club Deportivo,XER
272,43803,8394,244.0,Real Zaragoza,ZAR
273,43804,9867,260.0,CD Tenerife,TEN
274,44557,10278,100879.0,H√©rcules Club de F√∫tbol,HER
275,44565,8581,1853.0,Levante UD,LEV
276,44569,8560,457.0,Real Sociedad,SOC
277,45330,7878,110832.0,Granada CF,GRA
278,45333,8370,480.0,Rayo Vallecano,RAY
279,46087,9910,450.0,RC Celta de Vigo,CEL
280,46848,10268,468.0,Elche CF,ELC
281,47605,8372,467.0,SD Eibar,EIB
282,47612,7869,1867.0,C√≥rdoba CF,COR
283,48358,8306,472.0,UD Las Palmas,LAS
284,49115,9956,322.0,Grasshopper Club Z√ºrich,GRA
285,49116,6493,1714.0,AC Bellinzona,BEL
286,49117,10192,900.0,BSC Young Boys,YB
287,49118,9931,896.0,FC Basel,BAS
288,49119,9930,434.0,FC Aarau,AAR
289,49120,10179,110770.0,FC Sion,SIO
290,49121,10199,897.0,FC Luzern,LUZ
291,49122,9824,286.0,FC Vaduz,VAD
292,49123,7955,435.0,Neuch√¢tel Xamax,XAM
293,49124,10243,894.0,FC Z√ºrich,ZUR
294,49479,10190,898.0,FC St. Gallen,GAL
295,49837,10191,1715.0,FC Thun,THU
296,50201,9777,324.0,Servette FC,SER
297,50204,7730,1862.0,FC Lausanne-Sports,LAU
298,51606,7896,NaN,Lugano,LUG

In [28]:
sql_query_match = '''SELECT * 
FROM Match'''
pd.read_sql_query(sql_query_match, conn)

,id,country_id,league_id,season,stage,date,match_api_id,home_team_api_id,away_team_api_id,home_team_goal,...,SJA,VCH,VCD,VCA,GBH,GBD,GBA,BSH,BSD,BSA
0,1,1,1,2008/2009,1,2008-08-17 00:00:00,492473,9987,9993,1,...,4.00,1.65,3.40,4.50,1.78,3.25,4.00,1.73,3.40,4.20
1,2,1,1,2008/2009,1,2008-08-16 00:00:00,492474,10000,9994,0,...,3.80,2.00,3.25,3.25,1.85,3.25,3.75,1.91,3.25,3.60
2,3,1,1,2008/2009,1,2008-08-16 00:00:00,492475,9984,8635,0,...,2.50,2.35,3.25,2.65,2.50,3.20,2.50,2.30,3.20,2.75
3,4,1,1,2008/2009,1,2008-08-17 00:00:00,492476,9991,9998,5,...,7.50,1.45,3.75,6.50,1.50,3.75,5.50,1.44,3.75,6.50
4,5,1,1,2008/2009,1,2008-08-16 00:00:00,492477,7947,9985,1,...,1.73,4.50,3.40,1.65,4.50,3.50,1.65,4.75,3.30,1.67
5,6,1,1,2008/2009,1,2008-09-24 00:00:00,492478,8203,8342,1,...,1.67,4.35,3.40,1.70,4.50,3.40,1.70,NaN,NaN,NaN
6,7,1,1,2008/2009,1,2008-08-16 00:00:00,492479,9999,8571,2,...,3.60,2.10,3.25,3.00,1.85,3.25,3.75,2.10,3.25,3.10
7,8,1,1,2008/2009,1,2008-08-16 00:00:00,492480,4049,9996,1,...,2.40,2.80,3.25,2.25,2.80,3.20,2.25,2.88,3.25,2.20
8,9,1,1,2008/2009,1,2008-08-16 00:00:00,492481,10001,9986,1,...,3.10,2.25,3.25,2.80,2.20,3.30,2.80,2.25,3.20,2.80
9,10,1,1,2008/2009,10,2008-11-01 00:00:00,492564,8342,8571,4,...,10.00,1.30,4.35,8.50,1.25,5.00,10.00,1.29,4.50,9.00
10,11,1,1,2008/2009,10,2008-10-31 00:00:00,492565,9985,9986,1,...,10.00,1.28,4.50,8.50,1.25,5.00,10.00,1.25,5.00,9.00
11,12,1,1,2008/2009,10,2008-11-02 00:00:00,492566,10000,9991,0,...,2.50,2.65,3.30,2.30,2.60,3.25,2.50,2.62,3.20,2.38
12,13,1,1,2008/2009,10,2008-11-01 00:00:00,492567,9994,9998,0,...,4.25,2.00,3.20,3.40,1.85,3.30,4.00,1.83,3.30,3.80
13,14,1,1,2008/2009,10,2008-11-01 00:00:00,492568,7947,10001,2,...,2.38,2.75,3.20,2.30,2.75,3.25,2.35,2.75,3.20,2.30
14,15,1,1,2008/2009,10,2008-11-01 00:00:00,492569,8203,9999,1,...,4.75,1.70,3.40,4.35,1.75,3.40,4.25,1.70,3.40,4.33
15,16,1,1,2008/2009,10,2008-11-01 00:00:00,492570,9996,9984,0,...,2.88,2.20,3.25,2.90,2.30,3.25,2.85,2.30,3.20,2.75
16,17,1,1,2008/2009,10,2008-11-01 00:00:00,492571,4049,9987,1,...,1.62,5.50,3.50,1.55,5.25,3.60,1.60,6.00,3.60,1.50
17,18,1,1,2008/2009,10,2008-11-02 00:00:00,492572,9993,8635,1,...,1.80,3.60,3.25,1.90,4.10,3.40,1.80,3.80,3.30,1.83
18,19,1,1,2008/2009,11,2008-11-08 00:00:00,492573,8635,9994,2,...,9.00,1.28,4.50,8.50,1.30,4.75,7.50,1.30,4.50,8.50
19,20,1,1,2008/2009,11,2008-11-08 00:00:00,492574,9998,9996,0,...,2.75,2.35,3.25,2.65,2.30,3.20,2.75,2.30,3.25,2.70
20,21,1,1,2008/2009,11,2008-11-09 00:00:00,492575,9986,8342,2,...,2.10,3.25,3.25,2.00,3.10,3.20,2.15,3.10,3.25,2.10
21,22,1,1,2008/2009,11,2008-11-07 00:00:00,492576,9984,10000,2,...,4.25,1.75,3.25,4.35,1.80,3.30,4.20,1.70,3.30,4.50
22,23,1,1,2008/2009,11,2008-11-08 00:00:00,492577,9991,7947,1,...,7.00,1.35,4.00,7.50,1.40,4.20,7.00,1.36,4.20,7.00
23,24,1,1,2008/2009,11,2008-11-08 00:00:00,492578,9999,4049,1,...,4.00,1.80,3.25,4.00,1.85,3.30,4.00,1.80,3.30,4.00
24,25,1,1,2008/2009,11,2008-11-08 00:00:00,492579,8571,8203,0,...,3.50,2.00,3.25,3.25,1.95,3.20,3.50,2.00,3.25,3.30
25,26,1,1,2008/2009,11,2008-11-08 00:00:00,492580,10001,9987,1,...,2.60,2.40,3.25,2.60,2.50,3.25,2.50,2.50,3.20,2.50
26,27,1,1,2008/2009,11,2008-11-09 00:00:00,492581,9993,9985,1,...,1.95,3.75,3.25,1.85,3.60,3.25,1.95,3.50,3.30,1.91
27,28,1,1,2008/2009,12,2008-11-16 00:00:00,492582,8342,8635,1,...,3.30,2.25,3.10,2.80,2.10,3.20,3.20,2.20,3.20,2.90
28,29,1,1,2008/2009,12,2008-11-15 00:00:00,492583,9987,9999,1,...,10.00,1.25,5.00,9.00,1.27,5.00,8.50,1.25,5.00,9.00
29,30,1,1,2008/2009,12,2008-11-15 00:00:00,492584,10000,9993,2,...,3.40,2.10,3.30,3.10,2.00,3.20,3.50,2.00,3.25,3.30
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25949,25950,24558,24558,2015/2016,4,2015-08-08 00:00:00,1992066,9956,7896,6,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25950,25951,24558,24558,2015/2016,4,2015-08-08 00:00:00,1992067,10199,9931,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25951,25952,24558,24558,2015/2016,4,2015-08-09 00:00:00,1992068,10190,10243,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25952,25953,24558,24558,2015/2016,4,2015-08-09 00:00:00,1992069,9824,10179,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25953,25954,24558,24558,2015/2016,4,2015-08-09 00:00:00,1992070,10192,10191,3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25954,25955,24558,24558,2015/2016,5,2015-08-12 00:00:00,1992071,9931,10191,3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25955,25956,24558,24558,2015/2016,5,2015-08-12 00:00:00,1992072,10192,7896,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25956,25957,24558,24558,2015/2016,5,2015-08-12 00:00:00,1992073,10199,10190,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25957,25958,24558,24558,2015/2016,5,2015-08-13 00:00:00,1992074,10179,10243,3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25958,25959,24558,24558,2015/2016,5,2015-08-13 00:00:00,1992075,9824,9956,3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25959,25960,24558,24558,2015/2016,6,2015-08-22 00:00:00,1992076,7896,9931,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25960,25961,24558,24558,2015/2016,6,2015-08-23 00:00:00,1992077,10179,10192,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25961,25962,24558,24558,2015/2016,6,2015-08-23 00:00:00,1992078,10190,9956,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25962,25963,24558,24558,2015/2016,6,2015-08-23 00:00:00,1992079,10191,9824,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25963,25964,24558,24558,2015/2016,6,2015-08-22 00:00:00,1992080,10243,10199,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25964,25965,24558,24558,2015/2016,7,2015-08-29 00:00:00,1992081,7896,10199,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25965,25966,24558,24558,2015/2016,7,2015-08-29 00:00:00,1992082,9824,10190,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25966,25967,24558,24558,2015/2016,7,2015-08-30 00:00:00,1992083,10191,10179,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25967,25968,24558,24558,2015/2016,7,2015-08-30 00:00:00,1992084,9931,10243,3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25968,25969,24558,24558,2015/2016,7,2015-08-30 00:00:00,1992085,9956,10192,3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25969,25970,24558,24558,2015/2016,8,2015-09-12 00:00:00,1992086,9931,10190,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25970,25971,24558,24558,2015/2016,8,2015-09-12 00:00:00,1992087,10192,9824,4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25971,25972,24558,24558,2015/2016,8,2015-09-13 00:00:00,1992088,10199,9956,3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25972,25973,24558,24558,2015/2016,8,2015-09-13 00:00:00,1992089,10243,10191,3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25973,25974,24558,24558,2015/2016,8,2015-09-13 00:00:00,1992090,10179,7896,3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25974,25975,24558,24558,2015/2016,9,2015-09-22 00:00:00,1992091,10190,10191,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25975,25976,24558,24558,2015/2016,9,2015-09-23 00:00:00,1992092,9824,10199,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25976,25977,24558,24558,2015/2016,9,2015-09-23 00:00:00,1992093,9956,10179,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25977,25978,24558,24558,2015/2016,9,2015-09-22 00:00:00,1992094,7896,10243,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25978,25979,24558,24558,2015/2016,9,2015-09-23 00:00:00,1992095,10192,9931,4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN